<a href="https://colab.research.google.com/github/fengyuqi621/intothedata/blob/master/Lec5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Jupyter Notebook

While the `(WIP)` tag is above, we are working on updating this notebook to its finalized form.

This is a Jupyter Notebook, which is a basically just a super fancy Python shell.

You may have "cells" that can either be text (like this one) or executable Python code. Notebooks are really nice because they allow you to rapidly develop Python code by writing small bits of code, testing their output, and moving on to the next bit; this interactive nature of the notebook is a huge plus to professional Python developers. 

It's also nice, because it's really easy to share your code with others and surround it with text to tell a story! 

# Colaboratory
Colaboratory is a service provided by Google to take a Jupyter Notebook (a standard formay of a `.ipynb` file) and let users edit/run the code in the notebook for free! 

This notebook is write-protected so you are not able to edit the  notebook that the whole class will look at, but you are able to open up the notebook in "playground mode" which lets you make edits to a temporary copy of the notebook. If you want to save the changes you made to this notebook, you will have to follow the instructions when you try to save to copy the notebook to your Google Drive. 

# Setup
Make sure you run the following cell before trying to run any the following cells. You do not need to understand what they are doing, it's just a way to make sure there is a file we want to use stored on the computer running this notebook.

In [ ]:
import requests

def save_file(url, file_name):
  r = requests.get(url)
  with open(file_name, 'wb') as f:
    f.write(r.content)

save_file('https://courses.cs.washington.edu/courses/cse163/20wi/' +
          'files/lectures/L04/mobydick.txt', 'mobydick.txt')
save_file('https://courses.cs.washington.edu/courses/cse163/20wi/' +
          'files/lectures/L04/bee-movie.txt', 'bee-movie.txt')
save_file('https://courses.cs.washington.edu/courses/cse163/20wi/' +
          'files/lectures/L05/tas.csv', 'tas.csv')
save_file('https://courses.cs.washington.edu/courses/cse163/20wi/' +
          'files/lectures/L05/earthquakes.csv', 'earthquakes.csv')
save_file('https://courses.cs.washington.edu/courses/cse163/20wi/' +
          'files/lectures/L05/cse163_utils.py', 'cse163_utils.py')

# Review

Last time we wrote this function to count the number of unique words that appear in a file. When we first wrote it using a list, it was way too slow on large files because the contains check for every word became incredibly slow as the list of unique words got larger. When using the new data structure set, it got much faster!

In [ ]:
def count_unique(file_name):
  """
  Returns the number of unique words in the file specified by file_name
  """
  words = set()
  with open(file_name) as file:
    for line in file.readlines():
      for word in line.split():
        words.add(word)
  return len(words)

In [ ]:
%%time
print(count_unique('bee-movie.txt'))

4104
CPU times: user 4.18 ms, sys: 1.17 ms, total: 5.34 ms
Wall time: 5.73 ms

In [ ]:
%%time
count_unique('mobydick.txt')

CPU times: user 49.3 ms, sys: 2.66 ms, total: 52 ms
Wall time: 53.4 ms

32553

We also reviewed how we used a dictionary on Monday to count the number of words in a `list`. We then reviewed the extended version that did this over a file.

In [ ]:
words = ['I', 'saw', 'a', 'dog', 'today', 'I', 'thought', 'the', 'dog', 'was', 'cute']

counts = dict()  # Make an empty dictionary
for word in words:
    if word in counts:  # If we have seen this word, increment count
        counts[word] = counts[word] + 1
    else:  # If we have not, start with a default value
        counts[word] = 1

counts

{'I': 2,
 'a': 1,
 'cute': 1,
 'dog': 2,
 'saw': 1,
 'the': 1,
 'thought': 1,
 'today': 1,
 'was': 1}

In [ ]:
def count_words(file_name):
  """
  Counts the number of times each word in the file specified by file_name 
  appears in that file. Returns the counts as a dictionary with keys that
  are words that map to the number of times that word appears in the file.
  """
  counts = {}
  with open(file_name) as file:
    for line in file.readlines():
      for word in line.split():
        if word in counts:
          counts[word] = counts[word] + 1
        else: 
          counts[word] = 1
  return counts

In [ ]:
counts = count_words('bee-movie.txt')
counts

{'Scripts.com': 1,
 'Bee': 17,
 'Movie': 1,
 'By': 1,
 'Jerry': 1,
 'Seinfeld': 1,
 'NARRATOR:': 3,
 '(Black': 1,
 'screen': 1,
 'with': 76,
 'text;': 1,
 'The': 35,
 'sound': 4,
 'of': 197,
 'buzzing': 2,
 'bees': 25,
 'can': 25,
 'be': 51,
 'heard)': 1,
 'According': 1,
 'to': 283,
 'all': 55,
 'known': 1,
 'laws': 1,
 'aviation,': 1,
 ':': 420,
 'there': 15,
 'is': 183,
 'no': 28,
 'way': 11,
 'a': 365,
 'bee': 35,
 'should': 4,
 'able': 3,
 'fly.': 4,
 'Its': 1,
 'wings': 5,
 'are': 88,
 'too': 8,
 'small': 7,
 'get': 36,
 'its': 5,
 'fat': 4,
 'little': 22,
 'body': 4,
 'off': 22,
 'the': 516,
 'ground.': 2,
 'bee,': 10,
 'course,': 1,
 'flies': 31,
 'anyway': 1,
 'because': 9,
 "don't": 51,
 'care': 1,
 'what': 43,
 'humans': 10,
 'think': 25,
 'impossible.': 1,
 'BARRY': 3,
 'BENSON:': 3,
 '(Barry': 84,
 'picking': 2,
 'out': 63,
 'shirt)': 1,
 'Yellow,': 4,
 'black.': 4,
 'Ooh,': 1,
 'black': 3,
 'and': 289,
 'yellow!': 3,
 "Let's": 5,
 'shake': 1,
 'it': 103,
 'up': 40,
 'little.': 2,
 'JANET': 1,
 'Barry!': 10,
 'Breakfast': 1,
 'ready!': 2,
 'BARRY:': 344,
 'Coming!': 1,
 'Hang': 2,
 'on': 119,
 'second.': 3,
 'uses': 2,
 'his': 62,
 'antenna': 2,
 'like': 39,
 'phone)': 3,
 'Hello?': 3,
 'ADAM': 2,
 'FLAYMAN:': 1,
 '(Through': 7,
 '-': 324,
 'Barry?': 6,
 'Adam?': 1,
 'ADAM:': 100,
 'Can': 10,
 'you': 149,
 'believe': 10,
 'this': 64,
 'happening?': 1,
 'I': 238,
 "can't.": 4,
 "I'll": 11,
 'pick': 8,
 'up.': 8,
 'down': 15,
 'stairs)': 1,
 'MARTIN': 1,
 'Looking': 1,
 'sharp.': 1,
 'JANET:': 22,
 'Use': 1,
 'stairs.': 1,
 'Your': 9,
 'father': 1,
 'paid': 1,
 'good': 5,
 'money': 1,
 'for': 62,
 'those.': 1,
 'Sorry.': 2,
 "I'm": 79,
 'excited.': 1,
 'MARTIN:': 21,
 "Here's": 2,
 'graduate.': 1,
 "We're": 22,
 'very': 12,
 'proud': 1,
 'you,': 9,
 'son.': 2,
 'A': 16,
 'perfect': 3,
 'report': 2,
 'card,': 1,
 "B's.": 1,
 'Very': 3,
 'proud.': 2,
 '(Rubs': 1,
 "Barry's": 4,
 'hair)': 1,
 'BARRY=': 3,
 'Ma!': 1,
 'got': 32,
 'thing': 7,
 'going': 21,
 'here.': 11,
 'You': 86,
 'lint': 2,
 'your': 66,
 'fuzz.': 2,
 'Ow!': 1,
 "That's": 34,
 'me!': 11,
 'Wave': 1,
 'us!': 1,
 "We'll": 2,
 'in': 170,
 'row': 2,
 '118,000.': 1,
 'Bye!': 1,
 'door)': 6,
 'Barry,': 17,
 'told': 4,
 'stop': 5,
 'flying': 17,
 'house!': 1,
 'drives': 4,
 'through': 14,
 'hive,and': 1,
 'waved': 1,
 'at': 59,
 'by': 25,
 'Adam': 18,
 'who': 18,
 'reading': 1,
 'newspaper)': 1,
 'BARRY==': 7,
 'Hey,': 13,
 'Adam.': 2,
 'Barry.': 12,
 '(Adam': 10,
 'gets': 17,
 'car)': 3,
 'Is': 10,
 'that': 71,
 'fuzz': 1,
 'gel?': 1,
 'Special': 1,
 'day,': 2,
 'graduation.': 1,
 'Never': 1,
 'thought': 8,
 "I'd": 7,
 'make': 19,
 'it.': 36,
 'pulls': 6,
 'away': 8,
 'from': 34,
 'house': 2,
 'continues': 1,
 'driving)': 1,
 'Three': 2,
 'days': 3,
 'grade': 1,
 'school,': 1,
 'three': 4,
 'high': 3,
 'school...': 1,
 'Those': 4,
 'were': 13,
 'awkward.': 1,
 'college.': 1,
 'glad': 1,
 'took': 2,
 'day': 4,
 'hitchhiked': 1,
 'around': 14,
 'hive.': 4,
 'ADAM==': 7,
 'did': 9,
 'come': 6,
 'back': 29,
 'different.': 2,
 'pass': 2,
 'Artie,': 2,
 'jogging)': 1,
 'ARTIE:': 1,
 'Hi,': 3,
 'growing': 1,
 'mustache?': 1,
 'Looks': 1,
 'good.': 4,
 'Hear': 1,
 'about': 25,
 'Frankie?': 1,
 'Yeah.': 10,
 'funeral?': 1,
 'No,': 13,
 'not': 38,
 'funeral.': 1,
 'Everybody': 2,
 'knows,': 1,
 'sting': 8,
 'someone,': 1,
 'die.': 1,
 "Don't": 12,
 'waste': 1,
 'squirrel.': 1,
 'Such': 1,
 'hothead.': 1,
 'guess': 5,
 'he': 58,
 'could': 23,
 'have': 72,
 'just': 47,
 'gotten': 2,
 'way.': 1,
 '(The': 46,
 'car': 4,
 'does': 8,
 'barrel': 1,
 'roll': 1,
 'loop-shaped': 1,
 'bridge': 1,
 'lands': 6,
 'highway)': 1,
 'love': 5,
 'incorporating': 1,
 'an': 26,
 'amusement': 1,
 'park': 1,
 'into': 55,
 'our': 28,
 'regular': 1,
 'day.': 3,
 "that's": 9,
 'why': 9,
 'they': 37,
 'say': 7,
 'we': 67,
 'need': 8,
 'vacations.': 1,
 'parallel': 1,
 'parks': 1,
 'together': 2,
 'fly': 16,
 'over': 18,
 'graduating': 2,
 'students)': 1,
 'Boy,': 1,
 'quite': 3,
 'bit': 7,
 'pomp...': 1,
 'under': 5,
 'circumstances.': 1,
 'sit': 3,
 'put': 9,
 'their': 15,
 'hats)': 1,
 'Well,': 13,
 'Adam,': 8,
 'today': 1,
 'men.': 1,
 'We': 28,
 'are!': 3,
 'Bee-men.': 1,
 '=ADAM=': 1,
 'Amen!': 1,
 'AND': 5,
 'Hallelujah!': 1,
 'both': 5,
 'happy': 3,
 'spasm)': 1,
 'ANNOUNCER:': 3,
 'Students,': 1,
 'faculty,': 1,
 'distinguished': 1,
 'bees,': 5,
 'please': 4,
 'welcome': 1,
 'Dean': 1,
 'Buzzwell.': 1,
 'DEAN': 2,
 'BUZZWELL:': 2,
 'Welcome,': 1,
 'New': 4,
 'Hive': 3,
 'Oity': 1,
 'class': 1,
 'of...': 1,
 '...9:': 1,
 'That': 18,
 'concludes': 1,
 'ceremonies.': 1,
 'And': 33,
 'begins': 2,
 'career': 1,
 'Honex': 2,
 'Industries!': 1,
 'Will': 1,
 'job': 9,
 'today?': 1,
 'Barry': 89,
 'tour': 1,
 'bus)': 1,
 'heard': 9,
 "it's": 23,
 'orientation.': 1,
 '(Tour': 1,
 'buses': 1,
 'rise': 1,
 'ground': 2,
 'students': 1,
 'automatically': 2,
 'loaded': 2,
 'buses)': 1,
 'TOUR': 8,
 'GUIDE:': 7,
 'Heads': 1,
 'up!': 1,
 'Here': 4,
 'go.': 5,
 'Keep': 1,
 'hands': 7,
 'antennas': 1,
 'inside': 5,
 'tram': 1,
 'times.': 1,
 'Wonder': 1,
 "it'll": 1,
 'like?': 2,
 'scary.': 1,
 'GUIDE==': 1,
 'Welcome': 1,
 'Honex,': 2,
 'division': 1,
 'Honesco': 1,
 'part': 6,
 'Hexagon': 1,
 'Group.': 1,
 'Barry:': 4,
 'This': 37,
 'it!': 21,
 'Wow.': 3,
 'bus': 4,
 'road': 2,
 'either': 1,
 'side': 3,
 "Bee's": 1,
 'massive': 2,
 'complicated': 1,
 'Honey-making': 1,
 'machines)': 1,
 'know': 29,
 'as': 23,
 'worked': 1,
 'whole': 9,
 'life': 10,
 'point': 2,
 'where': 16,
 'work': 17,
 'life.': 8,
 'Honey': 9,
 'when': 3,
 'valiant': 1,
 'Pollen': 23,
 'Jocks': 11,
 'bring': 3,
 'nectar': 5,
 'Our': 7,
 'top-secret': 1,
 'formula': 1,
 'color-corrected,': 1,
 'scent-adjusted': 1,
 'bubble-contoured': 1,
 'soothing': 1,
 'sweet': 3,
 'syrup': 1,
 'distinctive': 1,
 'golden': 1,
 'glow': 1,
 'as...': 1,
 'EVERYONE': 1,
 'ON': 1,
 'BUS:': 1,
 'Honey!': 1,
 'guide': 1,
 'has': 17,
 'been': 16,
 'collecting': 1,
 'honey': 38,
 'bottle': 1,
 'she': 10,
 'throws': 1,
 'crowd': 3,
 'caught': 1,
 'girl': 3,
 'back)': 4,
 'was': 49,
 'hot.': 1,
 "She's": 3,
 'my': 37,
 'cousin!': 1,
 'She': 4,
 'is?': 4,
 'Yes,': 13,
 "we're": 9,
 'cousins.': 1,
 'Right.': 6,
 "You're": 23,
 'right.': 10,
 'At': 4,
 'constantly': 2,
 'strive': 1,
 'improve': 1,
 'every': 7,
 'aspect': 1,
 'existence.': 1,
 'These': 5,
 'stress-testing': 1,
 'new': 7,
 'helmet': 2,
 'technology.': 1,
 'passes': 2,
 'wearing': 7,
 'being': 11,
 'smashed': 1,
 'fly-swatters,': 1,
 'newspapers': 1,
 'boots.': 2,
 'He': 30,
 'lifts': 2,
 'thumbs': 1,
 'but': 45,
 'hear': 7,
 'him': 19,
 'groan)': 1,
 'What': 46,
 'do': 48,
 'makes?': 1,
 'Not': 10,
 'enough.': 2,
 'latest': 1,
 'advancement,': 1,
 'Krelman.': 1,
 '(They': 2,
 'turning': 1,
 'wheel': 1,
 'Bees': 15,
 'standing': 4,
 'pegs,': 1,
 'each': 3,
 'finger-shaped': 1,
 'hat)': 3,
 'Wow,': 1,
 'do?': 4,
 'Catches': 1,
 'strand': 1,
 'hangs': 3,
 'after': 6,
 'pour': 1,
 'Saves': 1,
 'us': 7,
 'millions.': 1,
 '(Intrigued)': 1,
 'anyone': 2,
 'Krelman?': 2,
 'Of': 3,
 'course.': 2,
 'Most': 1,
 'jobs': 3,
 'ones.': 1,
 'But': 18,
 'job,': 1,
 'if': 17,
 'done': 5,
 'well,': 5,
 'means': 2,
 'lot.': 1,
 'choose': 1,
 'carefully': 1,
 "you'll": 4,
 'stay': 4,
 'rest': 5,
 '(Everyone': 3,
 'claps': 1,
 'except': 3,
 'Barry)': 27,
 'same': 5,
 'life?': 4,
 "didn't": 6,
 'that.': 13,
 "What's": 8,
 'difference?': 1,
 "You'll": 2,
 'species,': 2,
 "haven't": 2,
 'had': 12,
 'one': 17,
 '27': 2,
 'million': 3,
 'years.': 2,
 '(Upset)': 1,
 'So': 13,
 'death?': 1,
 'sure': 4,
 'try.': 1,
 'laughs': 2,
 'walking': 4,
 'home': 6,
 'together)': 2,
 'Wow!': 5,
 'blew': 2,
 'mind!': 1,
 '"What\'s': 1,
 'difference?"': 1,
 'How': 21,
 'that?': 15,
 'One': 5,
 'forever?': 1,
 'insane': 1,
 'choice': 1,
 'make.': 1,
 'relieved.': 1,
 'Now': 6,
 'only': 14,
 'decision': 2,
 'But,': 1,
 'how': 12,
 'never': 12,
 'Why': 16,
 'would': 12,
 'question': 1,
 'anything?': 1,
 'bees.': 8,
 'most': 1,
 'perfectly': 1,
 'functioning': 1,
 'society': 1,
 'Earth.': 2,
 'ever': 6,
 'maybe': 4,
 'things': 2,
 'well': 2,
 'here?': 7,
 'Like': 5,
 'what?': 3,
 'Give': 1,
 'me': 15,
 'example.': 1,
 'revealed': 4,
 'audience': 2,
 'hundreds': 6,
 'cars': 1,
 'speeding': 1,
 'narrowly': 3,
 'missing': 2,
 'them': 13,
 'unison)': 1,
 'know.': 13,
 'talking': 20,
 'about.': 2,
 'Please': 1,
 'clear': 1,
 'gate.': 1,
 'Royal': 1,
 'Nectar': 2,
 'Force': 1,
 'approach.': 1,
 'Wait': 7,
 'Check': 2,
 'out.': 14,
 'jocks': 5,
 'in,': 4,
 'circle': 1,
 'landing': 1,
 'line)': 1,
 'those': 8,
 'Jocks!': 4,
 "I've": 12,
 'seen': 3,
 'close.': 2,
 'They': 25,
 'outside': 8,
 'Yeah,': 13,
 'some': 22,
 'back.': 4,
 'GIRL': 7,
 'BEES:': 6,
 'hook': 1,
 'backpacks': 1,
 'machines': 2,
 'pump': 1,
 'trucks,': 1,
 'which': 9,
 'drive': 3,
 'away)': 5,
 'LOU': 12,
 'LO': 6,
 'DUVA:': 12,
 'guys': 1,
 'great!': 2,
 'monsters!': 1,
 'sky': 1,
 'freaks!': 1,
 '(Punching': 1,
 'joy)': 1,
 'wonder': 2,
 'were.': 1,
 'Their': 2,
 "day's": 1,
 'planned.': 1,
 'Outside': 1,
 'hive,': 3,
 'knows': 2,
 'where,': 1,
 'doing': 9,
 'what.': 1,
 "can't": 21,
 'decide': 2,
 'Jock.': 2,
 'bred': 1,
 'covered': 2,
 'pollen': 19,
 'floated': 1,
 'Jocks)': 1,
 'Look': 7,
 'more': 14,
 'than': 12,
 'will': 18,
 'see': 35,
 'lifetime.': 1,
 "It's": 50,
 'status': 1,
 'symbol.': 1,
 'much': 11,
 'Perhaps.': 1,
 'Unless': 1,
 "you're": 17,
 'ladies': 1,
 'waves': 2,
 '2': 1,
 'girls': 3,
 'them)': 1,
 'ladies?': 1,
 "Aren't": 1,
 'cousins': 1,
 'too?': 2,
 'Distant.': 2,
 'POLLEN': 43,
 'JOCK': 36,
 '#1:': 25,
 'these': 13,
 'two.': 2,
 '#2:': 14,
 'Couple': 2,
 'Harrys.': 1,
 'fun': 1,
 'them.': 5,
 'BEE': 23,
 'It': 22,
 'must': 4,
 'dangerous': 1,
 'Once': 3,
 'bear': 7,
 'pinned': 1,
 'against': 4,
 'mushroom!': 1,
 'paw': 1,
 'throat,': 1,
 'other,': 1,
 'slapping': 1,
 '(Slaps': 3,
 'hand': 10,
 'represent': 1,
 'scenario)': 1,
 'Oh,': 34,
 'my!': 2,
 'knock': 1,
 '(Looking': 4,
 'Adam)': 3,
 'during': 3,
 'this?': 7,
 'Obviously': 1,
 'trying': 6,
 'alert': 1,
 'authorities.': 1,
 'autograph': 1,
 'walk': 4,
 'pretend': 1,
 'really': 11,
 'jocks.)': 1,
 'gusty': 1,
 'today,': 2,
 "wasn't": 2,
 'it,': 9,
 'comrades?': 1,
 'Gusty.': 1,
 'hitting': 1,
 'sunflower': 2,
 'patch': 2,
 'six': 1,
 'miles': 1,
 'here': 8,
 'tomorrow.': 1,
 'Six': 1,
 'miles,': 1,
 'huh?': 1,
 'puddle': 1,
 'jump': 2,
 'us,': 3,
 'Maybe': 8,
 'am.': 2,
 'not!': 2,
 '0900': 2,
 'J-Gate.': 1,
 'think,': 3,
 'buzzy-boy?': 1,
 'Are': 11,
 'enough?': 1,
 'might': 1,
 'be.': 1,
 'depends': 1,
 'means.': 1,
 'scene': 10,
 'cuts': 2,
 'looking': 2,
 'hive-city': 1,
 'balcony': 1,
 'night)': 2,
 'Honex!': 1,
 'Dad,': 3,
 'surprised': 1,
 'me.': 18,
 'interested': 1,
 'in?': 1,
 "there's": 8,
 'lot': 9,
 'choices.': 1,
 'one.': 5,
 'Do': 10,
 'bored': 1,
 'day?': 1,
 'Son,': 1,
 'let': 5,
 'tell': 3,
 'stirring.': 3,
 'grab': 3,
 'stick,': 1,
 'move': 3,
 'around,': 2,
 'stir': 1,
 'around.': 4,
 'yourself': 2,
 'rhythm.': 1,
 'beautiful': 1,
 'thing.': 3,
 'know,': 12,
 'field': 1,
 "isn't": 8,
 'right': 15,
 'thinking': 7,
 'what,': 1,
 'making': 7,
 'balloon': 2,
 'animals?': 1,
 'bad': 2,
 'guy': 3,
 'stinger.': 3,
 'Janet,': 1,
 "son's": 1,
 'wants': 2,
 'go': 14,
 'honey!': 3,
 'so': 21,
 'funny': 2,
 'sometimes.': 1,
 'funny.': 3,
 'funny!': 1,
 'honey.': 4,
 'son,': 2,
 'stirrer!': 1,
 'gonna': 11,
 'stirrer?': 1,
 'No': 8,
 "one's": 4,
 'listening': 2,
 'till': 1,
 'sticks': 3,
 'have.': 2,
 'anything': 5,
 'now.': 4,
 'ant': 1,
 'tattoo!': 1,
 "(Barry's": 2,
 'parents': 3,
 'listen': 1,
 'continue': 1,
 'ramble': 1,
 'on)': 2,
 'open': 3,
 'celebrate!': 1,
 'pierce': 1,
 'thorax.': 1,
 'Shave': 1,
 'antennae.': 1,
 'Shack': 1,
 'grasshopper.': 1,
 'Get': 7,
 'gold': 1,
 'tooth': 1,
 'call': 5,
 'everybody': 1,
 '"dawg"!': 1,
 'waiting': 2,
 'line': 1,
 'job)': 1,
 'starting': 1,
 'today!': 1,
 "Today's": 1,
 'Come': 6,
 'on!': 4,
 'All': 24,
 'gone.': 1,
 'JOB': 7,
 'LISTER:': 7,
 'counting,': 1,
 'stunt': 2,
 'pouring,': 1,
 'stirrer,': 2,
 'front': 5,
 'desk,': 1,
 'hair': 3,
 'removal...': 1,
 'IN': 14,
 'FRONT': 2,
 'OF': 3,
 'LINE:': 2,
 'still': 10,
 'available?': 2,
 'on.': 5,
 'Two': 3,
 'left!': 1,
 "them's": 1,
 'yours!': 1,
 'Congratulations!': 1,
 'Step': 1,
 'side.': 2,
 "What'd": 2,
 'get?': 1,
 'Picking': 1,
 'crud': 2,
 'Stellar!': 1,
 '(He': 3,
 'walks': 16,
 'newbies?': 1,
 'sir!': 2,
 'first': 6,
 'day!': 1,
 'Make': 3,
 'choice.': 2,
 'look': 9,
 'board.': 2,
 'There': 4,
 'changing': 1,
 'panels': 1,
 'contain': 1,
 'available': 2,
 'or': 10,
 'unavailable': 1,
 'jobs.': 2,
 'looks': 22,
 'confusing)': 1,
 'want': 17,
 'first?': 1,
 'my.': 4,
 'Restroom': 1,
 "attendant's": 1,
 'open,': 1,
 'reason': 2,
 'think.': 1,
 'Any': 1,
 'chance': 3,
 'getting': 11,
 'Sure,': 2,
 '(Puts': 3,
 'Krelman': 6,
 'finger-hat': 1,
 "Adam's": 3,
 'head)': 4,
 '(Suddenly': 3,
 'sign': 2,
 'closes': 2,
 'out)': 8,
 'sorry,': 3,
 'closed': 2,
 '(Takes': 1,
 'hat': 2,
 'off)': 4,
 'Wax': 1,
 "monkey's": 1,
 'always': 2,
 'open.': 2,
 'opened': 1,
 'again.': 2,
 'happened?': 1,
 'died.': 2,
 'Makes': 1,
 'opening.': 1,
 'See?': 1,
 "He's": 13,
 'dead.': 4,
 'Another': 2,
 'dead': 3,
 'Deady.': 1,
 'Deadified.': 1,
 'Dead': 2,
 'neck': 2,
 'down.': 5,
 'life!': 3,
 'hard!': 1,
 'remembers': 1,
 'Jock': 1,
 'offered': 1,
 'Heating,': 1,
 'cooling,': 2,
 'pourer,': 1,
 'humming,': 1,
 'inspector': 1,
 'number': 4,
 'seven,': 1,
 'coordinator,': 1,
 'stripe': 1,
 'supervisor,': 1,
 'mite': 1,
 'wrangler.': 1,
 'should...': 1,
 'turns': 6,
 'sees': 10,
 'JOCK:': 3,
 'right,': 10,
 "we've": 2,
 'quadrant': 1,
 'nine...': 1,
 'happened': 5,
 'you?': 11,
 'Where': 13,
 'Out?': 1,
 'Out': 3,
 'where?': 1,
 'there.': 8,
 'no!': 4,
 'to,': 1,
 'before': 3,
 'die!': 1,
 'crazy!': 1,
 ...}

In [ ]:
counts['bee']

35

Starting with the code that we had from the warmup problem. We then wanted to loop over that dictionary to find the appear the appears most frequently. We saw that there are two
ways that this is commonly done that keep track of different variables.

In [ ]:
def most_common_words(counts):
    """
    Takes a dictionary of words counts (keys are words, values are counts)
    and returns the word with the highest count. Returns None if there are 
    no words.
    """
    max_word = None
    for word in counts.keys():  # word is a key
        if max_word is None or counts[word] > counts[max_word]:
            max_word = word
    return max_word

most_common_words(counts)

'the'

# CSV
We learned about CSV files and how one common way of representing the data in this file is a list of dictionaries.

We talked about how the `parse` function was written by us and stored in this file `cse163_utils.py`. We talked about how to import a file and call a function from it.

In [ ]:
import cse163_utils
tas = cse163_utils.parse('tas.csv')
tas

[{'Name': 'Flora', 'Salary': 3},
 {'Name': 'Ken', 'Salary': 1},
 {'Name': 'Ryan', 'Salary': 3}]

We reviewed how the list of dictionaries works and the types of it and it's components. The `type` function lets us see the type of a value in Python.

In [ ]:
print(type(tas))
print(type(tas[0]))
print(type(tas[0]['Name']))

<class 'list'>
<class 'dict'>
<class 'str'>

We then reviewed code for how to loop over this list of dictionaries to compute something like a cumulative sum.

In [ ]:
total = 0
# tas is a list
for ta in tas:  # ta is dict
  total += ta['Salary']
print(total)

7

We then switched gears to using a larger, real-world dataset.

In [ ]:
earthquakes = cse163_utils.parse('earthquakes.csv')
earthquakes[:5]

[{'day': 27,
  'id': 'nc72666881',
  'latitude': 37.6723333,
  'longitude': -121.619,
  'magnitude': 1.43,
  'month': 7,
  'name': 'California',
  'year': 2016},
 {'day': 27,
  'id': 'us20006i0y',
  'latitude': 21.5146,
  'longitude': 94.5721,
  'magnitude': 4.9,
  'month': 7,
  'name': 'Burma',
  'year': 2016},
 {'day': 27,
  'id': 'nc72666891',
  'latitude': 37.5765,
  'longitude': -118.85916670000002,
  'magnitude': 0.06,
  'month': 7,
  'name': 'California',
  'year': 2016},
 {'day': 27,
  'id': 'nc72666896',
  'latitude': 37.595833299999995,
  'longitude': -118.99483329999998,
  'magnitude': 0.4,
  'month': 7,
  'name': 'California',
  'year': 2016},
 {'day': 27,
  'id': 'nn00553447',
  'latitude': 39.3775,
  'longitude': -119.845,
  'magnitude': 0.3,
  'month': 7,
  'name': 'Nevada',
  'year': 2016}]

In [ ]:
len(earthquakes)

8394

We then showed how similar it is working with anoter dataset: most of the code is similar but we change up the column name. The following cell computes the total magnitude of all earthquakes.

In [ ]:
total = 0
for earthquake in earthquakes:
    total += earthquake['magnitude']
total

12699.630000000005

Then students tried working on their own/in pairs to find the highest magnitude earthquake.

Notice that this is slightly different than our code to find the most popular word. Instead of initializing the value to `None`, we initialize it to the first earthquake. Both approaches are totally valid, **but** the approach below needs to have a special case for if the list is empty. We said for this problem, it's fine to assume the list is non-empty, but this may or may not be true on your HW!

In [ ]:
# To find the earthquake with the highest magnitude
max_eq = earthquakes[0]
for earthquake in earthquakes:
    if earthquake['magnitude'] > max_eq['magnitude']:
        max_eq = earthquake
print(max_eq)

{'id': 'us100068jg', 'year': 2016, 'month': 7, 'day': 29, 'latitude': 18.5439, 'longitude': 145.541, 'name': 'Northern Mariana Islands', 'magnitude': 7.7}

# Pandas
We then introduced the `pandas` library that was shown in the lecture reading and how to use it to read in a file.

In [ ]:
import pandas as pd  # this is just syntax to "rename" the 
                     # module so we don't have to say "pandas." everywhere
data = pd.read_csv('earthquakes.csv')

`data` in this context is a `pandas` `DataFrame` (an object they wrote to represent tabular data).

In [ ]:
data.head()

           id  year  month  day   latitude   longitude        name  magnitude
0  nc72666881  2016      7   27  37.672333 -121.619000  California       1.43
1  us20006i0y  2016      7   27  21.514600   94.572100       Burma       4.90
2  nc72666891  2016      7   27  37.576500 -118.859167  California       0.06
3  nc72666896  2016      7   27  37.595833 -118.994833  California       0.40
4  nn00553447  2016      7   27  39.377500 -119.845000      Nevada       0.30

Like we saw in the reading, we can index into the `DataFrame` using a column name to get a single column. The type of value returned here is a `pandas` `Series`! A `Series` has an index that lets you access any of its contents.

In [ ]:
data['name']

0       California
1            Burma
2       California
3       California
4           Nevada
           ...
8389    California
8390        Alaska
8391    California
8392    California
8393    California
Name: name, Length: 8394, dtype: object

In [ ]:
type(data['name'])

pandas.core.series.Series

In [ ]:
data['name'][140]

'California'

`Series` are powerful because they have a multitude of methods you can use on them to compute values.

In [ ]:
data['magnitude'].mean()

1.5129413867047896

In [ ]:
data['magnitude'].min()

0.01

In [ ]:
data['magnitude'].max()

7.7

`pandas` also supports arithmetic operations between `Series`. This is what we call a **vectorized** operation (where it lines the two `Series` up and does the `-` between).

In [ ]:
data['longitude'] - data['latitude']

0      -159.291333
1        73.057500
2      -156.435667
3      -156.590667
4      -159.222500
           ...
8389   -157.615330
8390   -211.361100
8391   -161.626503
8392   -152.943333
8393   -151.052833
Length: 8394, dtype: float64

You can use almost any arithmetic operation on a `Series` (`+`, `-`, `*`, `/`, etc.). You still have to be concientious about types though. For example, the following cell breaks.

In [ ]:
data['name'] + data['longitude']

TypeError: ignored

We saw that we can also combine `Series` with simple values, like in the following cell that divides every entry in the `Series` by 2.

In [ ]:
data['latitude'] / 2

0       18.836167
1       10.757300
2       18.788250
3       18.797917
4       19.688750
          ...
8389    18.257750
8390    30.749200
8391    19.402500
8392    17.154000
8393    17.059583
Name: latitude, Length: 8394, dtype: float64

You can also use comparisons to turn a `Series` into a `bool` `Series` where each element is `True`/`False` depending on how the original element compared.

In [ ]:
data['magnitude'] > 5

0       False
1       False
2       False
3       False
4       False
        ...
8389    False
8390    False
8391    False
8392    False
8393    False
Name: magnitude, Length: 8394, dtype: bool

We then saw that `pandas` lets us use this `bool` `Series` to index into the `DataFrame` to select which rows we want!

In [ ]:
data[data['magnitude'] > 5]

              id  year  month  ...  longitude                      name  magnitude
30    us20006i18  2016      7  ...   -67.8647                     Chile        5.6
114   us20006i35  2016      7  ...   140.7568                     Japan        5.3
421   us1000683b  2016      7  ...  -172.5158                     Tonga        5.1
632   us100068b1  2016      7  ...   123.4162                 Indonesia        5.4
799   us100068jg  2016      7  ...   145.5410  Northern Mariana Islands        7.7
...          ...   ...    ...  ...        ...                       ...        ...
7916  us10006g7d  2016      8  ...    13.1719                     Italy        6.2
7926  us10006g7w  2016      8  ...    13.1257                     Italy        5.5
8002  us10006gbf  2016      8  ...    94.5789                     Burma        6.8
8029  us10006gf0  2016      8  ...   100.0549                 Indonesia        5.8
8303  us20006ty8  2016      8  ...   137.8462              Japan region        5.9

[100 rows x 8 columns]

You can get more complicated by combining `bool` `Series` with `&` for "and", `|` for "or", and `~` for "not. You have to be careful with parentheses though! With `pandas` you basically need to parenthesize all filter expressions. The following cell doesn't work but the one after does because of the parentheses.

In [ ]:
data[data['magnitude'] > 5 & data['name'] == 'Japan']

TypeError: ignored

In [ ]:
data[(data['magnitude'] > 5) & ~(data['name'] == 'Japan')]

              id  year  month  ...  longitude                      name  magnitude
30    us20006i18  2016      7  ...   -67.8647                     Chile        5.6
421   us1000683b  2016      7  ...  -172.5158                     Tonga        5.1
632   us100068b1  2016      7  ...   123.4162                 Indonesia        5.4
799   us100068jg  2016      7  ...   145.5410  Northern Mariana Islands        7.7
835   us100068n4  2016      7  ...   169.9542                   Vanuatu        5.2
...          ...   ...    ...  ...        ...                       ...        ...
7916  us10006g7d  2016      8  ...    13.1719                     Italy        6.2
7926  us10006g7w  2016      8  ...    13.1257                     Italy        5.5
8002  us10006gbf  2016      8  ...    94.5789                     Burma        6.8
8029  us10006gf0  2016      8  ...   100.0549                 Indonesia        5.8
8303  us20006ty8  2016      8  ...   137.8462              Japan region        5.9

[87 rows x 8 columns]

It's perhaps, much more readable if you break this long line into sub-expressions and store them with meaningful variable names.

In [ ]:
is_big = data['magnitude'] > 5
is_japan = data['name'] == 'Japan'
data[is_big & ~is_japan]

              id  year  month  ...  longitude                      name  magnitude
30    us20006i18  2016      7  ...   -67.8647                     Chile        5.6
421   us1000683b  2016      7  ...  -172.5158                     Tonga        5.1
632   us100068b1  2016      7  ...   123.4162                 Indonesia        5.4
799   us100068jg  2016      7  ...   145.5410  Northern Mariana Islands        7.7
835   us100068n4  2016      7  ...   169.9542                   Vanuatu        5.2
...          ...   ...    ...  ...        ...                       ...        ...
7916  us10006g7d  2016      8  ...    13.1719                     Italy        6.2
7926  us10006g7w  2016      8  ...    13.1257                     Italy        5.5
8002  us10006gbf  2016      8  ...    94.5789                     Burma        6.8
8029  us10006gf0  2016      8  ...   100.0549                 Indonesia        5.8
8303  us20006ty8  2016      8  ...   137.8462              Japan region        5.9

[87 rows x 8 columns]